{% load global_tag %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  {% include "header.html" %}
  <body>
    <nav class="navbar navbar-light navbar-expand-md bg-light">
        <a class="navbar-brand" >{{"brand"|brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li><a href="{% url 'gestion' %}">Menu</a></li>
          </ul>
        </div>
    </nav>
    <div class="p-3">
      {% block  content %}


      {% endblock %}
    </div>

  </body>
</html>
