{% extends "base.html" %}
{% block content %}
   <div class="content mt-2">
     <ul class="list-group">
        <li class="list-group-item active">Elegir idioma</li>
        {% for obj in result  %}
          <li class="list-group-item list-group-item-action list-group-item-light"
              onclick="location.href='{% url 'sel_idioma' id=obj.id %}'">
              <div class="row">
                <div class="col-9">
                   {{obj.get_idioma_display}}
                </div>
                <div class="col-3">
                   <img height="50" class="img-fluid" src="{% url 'view_logo' id=obj.id %}" alt="{{obj.nombre}}">
                </div>
              </div>
          </li>
        {% endfor %}
      </ul>
   </div>
{% endblock %}
