{% extends "base.html" %}
{% block content %}
   <div class="content mt-2">
     <ul class="list-group">
        <li class="list-group-item active">Elegir nick</li>
        <li class="list-group-item">
          <form method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Nick</label>
              <input type="text" class="form-control" id="nick" name="nick">
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </li>
      </ul>
   </div>
{% endblock %}
