{% extends "gestion/base.html" %}
{% block content %}
    <div class="bg-light p-2">
        {% csrf_token %}
        <form method="post">
            <div class="row">
                {% csrf_token %}
                <div class="col-12">
                  <div class="form-grup p-2">
                    <label for="nombre">Nombre de la leccion</label>
                     <input required name="nombre" class="form-control" id="nombre"  placeholder="Nombre de la lección">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-grup p-2">
                    <label for="des">Descripción</label>
                     <input required name="des" class="form-control" id="des"  placeholder="Descripción de la lección">
                  </div>
                </div>
                <div class="col-12 col-md-6 p-4">
                  <div class="form-group">
                     <label for="idioma_principal">Idioma principal</label>
                     <textarea name="principal" required class="form-control" id="idioma_principal" rows="15"></textarea>
                   </div>
                </div>
                <div class="col-12 col-md-6 p-4">
                  <div class="form-group">
                     <label for="extranjero">Idioma entranjero</label>
                     <textarea required name="extranjero" class="form-control" id="extranjero" rows="15"></textarea>
                   </div>
                </div>
            </div>
            <div class="p-3 text-right">
              <button class="btn btn-dark" name="button" type="submit">Crear lección</button>
            </div>
        </div>
  </form>

{% endblock %}
