{% extends "gestion/base.html" %}

{% block content %}
  <div class="row bg-light p-2 " >
    <div class="col-12 col-md-3 p-2">
      <button class="btn btn-dark w-100 btn-menu" name="button">Idiomas</button>
    </div>
    <div class="col-12 col-md-3 p-2">
      <button class="btn btn-dark w-100 btn-menu" name="button">Cursos</button>
    </div>
    <div class="col-12 col-md-3 p-2">
      <button class="btn btn-dark w-100 btn-menu" name="button"
              onclick="location.href='{% url 'elegir_idioma_gs' %}'">Agregar Lecciones</button>
    </div>
    <div class="col-12 col-md-3 p-2">
      <button class="btn btn-dark w-100 btn-menu" name="button">Final leccion</button>
    </div>
  </div>
{% endblock %}
