{% load global_tag %}
<div class="row">
  <div class="col-12 col-md-10 p-3">
     <div class="card">
       <div class="card-header content-local">
         <div class="text-center">
           <p class="h2"> {{frase.propia}}</p>
         </div>
       </div>
       <div class="card-body content-foreing">
         <div id="ayuda" class="text-center">
           <p class="alert alert-primary" role="alert"> Como se diria esta frase. Piesaaaa!!</p>
           <audio controls>
               <source src="{% url 'get_sound' id=frase.id %}" type="audio/mp3">
                Your browser does not support the audio element.
           </audio>
         </div>
          <div id="respuesta" class="text-center collapse">
            <p class="h2"> {{frase.extranjera}}</p>
            <button  class="btn btn-light btn-lg  m-1"  onclick="quitar({{frase.id}});">
             Ya me la se</span>
           </button>
          </div>
       </div>
     </div>
  </div>
  <div class="col-12 col-md-2 p-3">
    <div class="bg-light">
     <div class="row">
        <div class="col-5 col-md-12 text-center p-0 m-0">
          <button  class="btn btn-light m-1 btn-lg text-primary" onclick="destapar();">
           <span class="fas fa-box-open"></span>
         </button>
         {% if  session|progreso == 100 %}
           <button  class="btn btn-light btn-lg m-1 text-warning"
            onclick="location.href='{% url 'get_final' %}'">
               <span class="fas fa-eye"></span>
          </button>
        {% endif %}
        </div>
       <div id="calificar" class="col-7 col-md-12 text-center collapse p-0 m-0" >
           <button  class="btn btn-light btn-lg  m-1" onclick="$('audio')[0].play();">
            <span class="fas fa-volume-up"></span>
          </button>
           <button  class="btn btn-light btn-lg  m-1"  onclick="okey({{frase.id}});">
            <span class="fas fa-thumbs-up text-success"></span>
          </button>
          <button  class="btn btn-light btn-lg m-1 text-danger"  onclick="error({{frase.id}});">
           <span class="fas fa-thumbs-down"></span>
         </button>
      </div>
     </div>
    </div>
  </div>
</div>
<input id="progreso" type="text" value="{{session|progreso}}" hidden>
