{% extends "base.html" %}
{% block content %}
    <div class="content">
       <div class="bg-light text-uppercase p-2 mt-2 mb-2">
          <h3>{{title}}</h3>
          <div class="progress">
              <div class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
       </div>
       <div id="test">

       </div>
    </div>

    <script type="text/javascript">
        var progreso = 0;
        $(function(){
           get_next_frase();
        });

        function get_next_frase(){
            $.get("{% url 'get_next_frase' %}", function(res){
               $("#test").html(res);
               progreso = $("#progreso").val();
               $(".progress-bar").css({'width': progreso+"%"});
            });
        }

        function error(id){
          url = "{% url 'calificar' id=-1 punto=-2 %}"
          $.get(url.replace("-1", id).replace("-2", -1), function(res){
             $("#test").html(res);
             progreso = $("#progreso").val();
             $(".progress-bar").css({'width': progreso+"%"});
          });
        }

        function quitar(id){
          url = "{% url 'calificar' id=-1 punto=-2 %}"
          $.get(url.replace("-1", id).replace("-2", 6), function(res){
             $("#test").html(res);
             progreso = $("#progreso").val();
             $(".progress-bar").css({'width': progreso+"%"});
          });
        }
        function okey(id){
          url = "{% url 'calificar' id=-1 punto=-2 %}"
          $.get(url.replace("-1", id).replace("-2", 1), function(res){
             $("#test").html(res);
             progreso = $("#progreso").val();
             $(".progress-bar").css({'width': progreso+"%"});
          });
        }

        function destapar(){
            $('audio')[0].play();
            $("#ayuda").addClass("collapse");
            $("#respuesta").collapse("show");
            $("#calificar").collapse("show");
        }
    </script>
{% endblock %}
