{% extends "base.html" %}
{% load global_tag %}

{% block content %}
    <div class="content">
       <div class="bg-light text-uppercase p-2 mt-2 mb-2">
          <h3>Final de leccion...</h3>
       </div>
       <div id="test">
          <div class="jumbotron">
            <h1 class="display-3">Ooooooh!</h1>
            <p class="lead">En esta lecccion no hay final de leccion. </p>
            <hr class="m-y-md">
            <p>Practica lo aprendido en youtube o por otros medios.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="{% url 'lista_lecciones' %}" role="button">Salir</a>
            </p>
          </div>

          </div>
       </div>
  {% endblock %}
