{% load global_tag %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  {% include "header.html" %}
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" >{{"brand"|brand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'elegir_idioma' %}">Lista idiomas
                <span class="sr-only">(current)</span></a>
            </li>
            {% if session|sepuedemostrar:"idioma" %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'lista_cursos' %}">Lista cursos
                  <span class="sr-only">(current)</span></a>
              </li>
              {% if session|sepuedemostrar:"curso" %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'lista_lecciones' %}">Lista lecciones
                    <span class="sr-only">(current)</span></a>
                </li>
              {% endif %}
            {% endif %}
         </ul>
        </div>
    </nav>
    <div class="p-3">
      {% block  content %}


      {% endblock %}
    </div>
  </body>
</html>
