{% load global_tag %}
{% load static %}
<head>
     <title>{{"title"|brand}}</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="{{'meta'|brand}}" >
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"> </script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
     <style media="screen">
        body{
          background-color: #D5D8DC;
        }

        .content {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .content-local {
            min-height: 100px
        }

        .content-foreing {
            min-height: 150px
        }

        .btn-menu{
           min-height: 8em;
        }

     </style>
</head>
